.title {
    font-size: clamp(
        2rem,
        calc(3.75rem + (2 - 3.75) * ((100vw - 71.25rem) / (48 - 71.25))),
        3.75rem
    );
    em {
        color: var(--secondary-color);
        font-style: normal;
    }
}
.row {
    display: block;
    span {
        margin-right: 0.3em;
    }
}