.item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 290px;
    padding: clamp(14px,
            calc(1.5rem + (14 - 24) * ((100vw - 1140px) / (325 - 1140))),
            24px);

    .title {
        position: relative;
    }

    .title::before {
        content: "";
        position: absolute;
        display: block;
        top: 0px;
        left: clamp(-24px,
                calc(-1.5rem + (-14 - -24) * ((100vw - 1140px) / (325 - 1140))),
                -14px);
        width: 2px;
        height: 100%;
        background: var(--secondary-color);
    }

    h3 {
        font-size: clamp(1.25rem,
                calc(1.5625rem + (1.25 - 1.5625) * ((100vw - 71.25rem) / (20.3125 - 71.25))),
                1.5625rem);
        line-height: 1.2;
        overflow: hidden;
        display: block;
        max-height: calc(1.2em * 5);
        -webkit-line-clamp: 5;
        display: box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(16px, calc(1.5rem + ((1vw - 11.4px) * 0.9816)), 24px);

    a {
        position: relative;
        opacity: 0.5;
        z-index: 5;
    }

    a:hover {
        opacity: 1;
    }
}