.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: clamp(28px, calc(5.625rem + (28 - 90) * ((100vw - 1140px) / (325 - 1140))), 90px);
    padding: clamp(
            14px,
            calc(2.8125rem + (14 - 45) * ((100vw - 1140px) / (325 - 1140))),
            45px
        )
        0;
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(
        24px,
        calc(2.1875rem + (24 - 35) * ((100vw - 1140px) / (325 - 1140))),
        35px
    );
}
.item {
    font-size: clamp(0.875rem, calc(1.125rem + (0.875 - 1.125) * ((100vw - 71.25rem) / (20.3125 - 71.25))), 1.125rem);
    :global {
        a.active {
            color: var(--secondary-color);
        }
    }
}
.logo {
    font-size: clamp(20px, calc(1.5625rem + (20 - 25) * ((100vw - 1140px) / (325 - 1140))), 25px);
    font-weight: 700;
    line-height: 1.2;
}