.dateView {
    font-size: clamp(1rem,
            calc(1.875rem + ((1vw - 0.7125rem) * 1.7178)),
            1.875rem);

    span {
        font-size: clamp(0.875rem,
                calc(1.25rem + ((1vw - 0.7125rem) * 0.7362)),
                1.25rem);
        opacity: 0.5;
    }

    span::before {
        content: "/";
    }
}