.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: clamp(
        28px,
        calc(5.625rem + (28 - 90) * ((100vw - 1140px) / (325 - 1140))),
        90px
    );
    padding: clamp(
            14px,
            calc(2.8125rem + (14 - 45) * ((100vw - 1140px) / (325 - 1140))),
            45px
        )
        0;
    p {
        font-size: 0.75rem;
    }
    strong {
        font-size: clamp(
            1rem,
            1.5625rem + -0.5625 * (100vw - 71.25rem) / -50.9375,
            1.5625rem
        );
        display: block;
    }
}
.center {
    text-align: center;
    justify-self: center;
    font-size: 1rem !important;
}
.author {
    text-align: end;
    justify-self: end;
}
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .name{
        grid-column: 1/3;
    }
    .center {
        text-align: start;
        justify-self: start;
        font-size: 1rem !important;
    }
    .author {
        text-align: end;
        justify-self: end;
    }
}
