@import "variables";

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    color: var(--primary-color);
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: clamp(
        1rem,
        calc(1.25rem + (1 - 1.25) * ((100vw - 71.25rem) / (20.3125 - 71.25))),
        1.25rem
    );
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
p {
    font-size: clamp(
        1rem,
        calc(
            1.5625rem + (1 - 1.5625) * ((100vw - 71.25rem) / (20.3125 - 71.25))
        ),
        1.5625rem
    );
}